<p>product-card works!</p>

<div class="card bg-base-100 shadow-sm" @fadeIn>
  <figure class="px-10 pt-10">
    <img
      [src]="product().images | productImage"
      [alt]="product().title"
      class="rounded-xl"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2
      class="card-title font-extralight text-xl hover:underline cursor-pointer"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions">
      <a
        [routerLink]="['/product', product().slug]"
        class="btn btn-outline btn-primary"
        >More Info</a
      >
    </div>
  </div>
</div>
